<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="./assets/css/style.css" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../assets/js/burger.js"></script>
		<title>Burger App</title>
	</head>
<div id="wrapper">
	<div id="background">
		<body>
			{{{ body }}}
		</body>
	</div>
</div>
</html>